@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body,
html {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 22px;
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0 0 8px 0;
}

p {
  margin: 0 0 8px 0;
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

div {
  margin-bottom: 30px;
}

.logo {
  width: 120px;
}

.text-red {
  color: red;
}

.text-green {
  color: yellowgreen;
}

.text-blue {
  color: mediumblue;
}

.tv-item {
  box-shadow: 4px 4px 8px #cccccc;
  padding: 22px;
}
